# Tabular data raw

In [14]:
import pandas as pd
import numpy as np

In [3]:
thingy = pd.read_csv('../data/clean/valais_clean.csv')
statins = pd.read_csv('../data/clean/valais_stations.csv')

In [9]:
x = thingy['station'].unique()
#statins[~statins['station'].isin(x)]
thingy

,time,station,precip,East,North,moisture,pressure,temperature,precip_interpolated,East_interpolated,North_interpolated,moisture_interpolated,pressure_interpolated,temperature_interpolated
0,201901010000,BIN,0.0,1.28,0.96,83.0,1030.3,-2.4,0,0,0,0,0,0
1,201901010010,BIN,0.0,1.80,0.80,83.4,1030.3,-2.4,0,0,0,0,0,0
2,201901010020,BIN,0.0,1.76,1.10,82.8,1030.3,-2.4,0,0,0,0,0,0
3,201901010030,BIN,0.0,2.16,1.20,82.7,1030.3,-3.0,0,0,0,0,0,0
4,201901010040,BIN,0.0,1.62,0.90,82.8,1030.2,-2.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12621307,202312312310,ZER,0.0,2.45,2.45,95.0,1010.1,-2.0,0,0,0,0,0,0
12621308,202312312320,ZER,0.0,1.56,2.08,92.7,1010.4,-2.1,0,0,0,0,0,0
12621309,202312312330,ZER,0.0,1.44,1.92,94.1,1010.5,-2.0,0,0,0,0,0,0
12621310,202312312340,ZER,0.0,1.50,2.00,94.2,1010.5,-2.1,0,0,0,0,0,0
12621311,202312312350,ZER,0.0,1.56,2.08,94.9,1010.5,-2.2,0,0,0,0,0,0

In [8]:
thingy

262944

In [16]:
x = pd.read_csv("../valais_special/data/station_list.csv", delimiter=';')

In [26]:
statins['station'].describe()

count        54
unique       54
top       VSANZ
freq          1
Name: station, dtype: object

In [32]:
thingy.describe().drop('count')

,time,precip,East,North,moisture,pressure,temperature,precip_interpolated,East_interpolated,North_interpolated,moisture_interpolated,pressure_interpolated,temperature_interpolated
mean,2.021066e+11,0.018771,0.341517,0.462177,68.638763,1018.618815,6.872218,0.004867,0.666667,0.666667,0.666667,0.666667,0.666667
std,1.414458e+08,0.117108,1.399765,1.192104,19.860779,8.423526,8.134658,0.069597,0.471405,0.471405,0.471405,0.471405,0.471405
min,2.019010e+11,0.000000,-20.200000,-17.800000,-14.100000,976.700000,-24.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.020040e+11,0.000000,0.000000,0.000000,53.800000,1014.200000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.021070e+11,0.000000,0.100000,0.200000,70.300000,1019.700000,6.500000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,2.022100e+11,0.000000,0.700000,0.800000,85.500000,1024.300000,12.600000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.023123e+11,44.600000,14.600000,17.500000,100.000000,1044.900000,38.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
thingy[thingy['East_interpolated']==0].describe().drop('count')

,time,precip,East,North,moisture,pressure,temperature,precip_interpolated,East_interpolated,North_interpolated,moisture_interpolated,pressure_interpolated,temperature_interpolated
mean,2.021066e+11,0.016455,-0.056507,0.238857,68.88206,1018.423529,7.495654,0.001384,0.0,0.0,0.0,0.0,0.0
std,1.414458e+08,0.105117,1.995532,1.706572,20.55873,8.233874,8.314911,0.037171,0.0,0.0,0.0,0.0,0.0
min,2.019010e+11,0.000000,-20.200000,-17.800000,4.40000,976.700000,-24.700000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,2.020040e+11,0.000000,-0.620000,-0.400000,53.00000,1014.100000,1.200000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,2.021070e+11,0.000000,0.000000,0.160000,70.40000,1019.400000,7.100000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,2.022100e+11,0.000000,0.700000,0.800000,87.10000,1023.900000,13.400000,0.000000,0.0,0.0,0.0,0.0,0.0
max,2.023123e+11,15.100000,14.600000,17.500000,100.00000,1044.900000,38.000000,1.000000,0.0,0.0,0.0,0.0,0.0

In [48]:
df_valais = pd.read_csv('../data/filtered/merged_valais.csv')